body {
    padding:0;
    margin:0;
    font-family: 'Quicksand', sans-serif;
    text-decoration: none;
    background-image: url("bgprofile.JPG");background-size: cover;
    background-attachment: fixed; text-decoration: none;
}
.header {
    background-color: rgba(225, 255, 255, 0.7);
    color: black;
    height: 90px;
}
.header-logo {
    float: left;
    font-family:'fantasy';
    padding: 20px 40px;
    font-size: 36px;
    font-weight:bold;
    font-style: oblique; color:chocolate;
    height: 2px; 
}
.header-list ul {
    float:right;
}
.header-list ul li {
    padding:24px;
    display:inline-block;
}
.header-list ul li a:hover {
    color:#33ffda;
    transition:0.3s;
} 
@media (max-width: 768px){
    .mobile-menu {
        display:block;
    }
    header ul {
        display: none;
    }
}
.list {
    background-color:rgba(225, 255, 255, 0.7);
    width: 800px;
    color: black;
    margin: 20px auto;
    padding: 15px;
    font-family: cursive;
}
.Bio {
    background-color: rgba(225, 255, 255, 0.7);
    margin-top: 75px;
}
td {
    text-align: left; vertical-align: top; 
}
.ikon {
    background-color: rgba(225, 255, 255, 0.7);
    margin:75px 75px;
}
span {
    color:blue;
}
h1 {
    font-family: 'Germania one';
    font-style: italic;
    text-align: center;
}